# Local .terraform directories
# Environment files 
.env
# This will ignore the .terraform directory in any subdirectory.
**/.terraform/
*terraform-sa.json

# .tfstate files
*.tfstate
*.tfstate.*.backup
*.tfstate
*.tfstate.backup
*.terraform
# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# passwords, private keys, and other secrets. These should not be in version control.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local testing and exceptions.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# It is recommended to commit the lock file to version control.
# This will un-ignore the .terraform.lock.hcl file in any subdirectory.
!**/.terraform.lock.hcl

# Mac-specific files
.DS_Store

# Remove Temp Files 
Initial-setup/tmp
Initial-setup/tmp/*
*.zip